job "hello" {
  datacenters = ["{{ consul_datacenter }}"]
  type = "service"

  group "echo" {
    network {
      port "http" {
        to = 80
      }
    }

    task "app" {
      driver = "docker"
      config {
        image = "nginx:alpine"
        ports = ["http"]
      }
      
      service {
        name = "hello"
        port = "http"
        tags = [
          "traefik.enable=true",
          "traefik.http.routers.hello.rule=Host(`hello.local`)"
        ]
        
        check {
          name     = "alive"
          type     = "http"
          path     = "/"
          interval = "10s"
          timeout  = "2s"
        }
      }
      
      resources {
        cpu    = 50
        memory = 64
      }
    }
  }
}
